@use "../abstracts/colors.scss" as c;

.start--page{
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .text{
        margin: 30px auto;
    }
}