@use "../abstracts/colors" as c;

body{
    font-family: "karla", sans-serif;
    color: c.$font-color;
}

.title{
    font-weight: 700;
    font-size: 32px;
    color: c.$font-color;
}

.question{
    font-weight: 700;
    font-size: 16px;
}

.text{
    font-weight: 400;
}

.answer--text{
    font-weight: 500;
}

.button{
    color: c.$background-white;
    font-weight: 500;
}

.text{
    font-weight: 400;
    color: c.$font-color
}